.jp-SparkConnectExtension-AddExtraConfigDialog-container {
  width: 400px;
}

.jp-SparkConnectExtension-AddExtraConfigDialog-helpText {
  margin-left: 8;
  margin-top: 4;
  color: 'var(--jp-ui-font-color2)';
}

.jp-SparkConnectExtension-AddExtraConfigDialog-duplicateWarning {
  font-size: '11px';
  margin-top: 16;
  padding: 4;
  border-radius: 'var(--jp-border-radius)';
  display: 'flex';
  flex-direction: 'row';
  align-items: 'center';
  gap: 4;
  color: 'var(--jp-warn-color1)';
  border: '1px solid var(--jp-warn-color2)';
}

.jp-SparkConnectExtension-AddExtraConfigDialog-duplicateWarning
  .material-symbols-outlined {
  font-size: 18pt;
}
