.jp-SparkConnectExtension-ConfigBundle-bundleDetails-root {
  display: 'flex';
  flex-direction: 'column';
  gap: 8;
  width: 400;
}

.jp-SparkConnectExtension-ConfigBundle-bundleDetails-root .bundleValue {
  color: var(--jp-ui-font-color2);
}

.jp-SparkConnectExtension-ConfigBundle-list {
  display: flex;
  flex-direction: column;
  gap: var(--jp-border-width);
  background-color: var(--jp-border-color3);
}

.jp-SparkConnectExtension-ConfigBundle-list > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 8px;
  background-color: var(--jp-layout-color1);
  gap: 8px;
  font-size: var(--jp-ui-font-size0);
}

.jp-SparkConnectExtension-ConfigBundle-list > div:hover {
  background-color: var(--jp-layout-color2);
  cursor: pointer;
}

.jp-SparkConnectExtension-ConfigBundle-list > div .bundleLabel {
  color: var(--jp-ui-font-color1);
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.jp-SparkConnectExtension-ConfigBundle-list > div .material-symbols-outlined {
  font-size: 18px;
  color: var(--jp-content-link-color);
}

.jp-SparkConnectExtension-ConfigBundle-list-checkbox {
  width: 12px;
  height: 12px;
  border: 1.5px solid var(--jp-ui-font-color2);
  border-radius: 3px;
  margin-left: 2px;
  margin-right: 2px;
}

.jp-SparkConnectExtension-ConfigBundle-list-checkbox.checked {
  border: 1.5px solid var(--md-green-600);
}

.jp-SparkConnectExtension-ConfigBundle-list-checkbox.checked > div {
  background-color: var(--md-green-600);
  width: 8px;
  height: 8px;
  margin: 2px;
  border-radius: 1px;
}
